<mat-toolbar>

    <div>
      <a mat-button routerLink=''>
        Inicio
      </a>
    </div>

    <div>
      <a mat-button routerLink="madeiras">
        Madeiras
      </a>
    </div>

    <div>
      <a mat-button routerLink="servicos">
        Serviços
      </a>
    </div>

    <div>
      <a mat-button routerLink="Sobre Nós">
        Sobre Nós
      </a>
    </div>

    <div>
      <a mat-button routerLink="Employees">
        Employees teste
      </a>
    </div>


    <div class="icon-facebook" ><span>
      <a href="https://tr-tr.facebook.com/lopes.lopes.794?comment_id=Y29tbWVudDoxODUwMjk4NzE4NDcxMjg3XzE4NTAzMDY1OTE4MDM4MzM%3D" target="_blank"><mat-icon color="primary">facebook</mat-icon></a>
    </span></div>
    <div class="icon-contacts" ><span>
      <a href="https://www.google.com/search?q=antonio+fernandes+lopes&oq=antonio+fernandes+lopes&aqs=chrome..69i57j69i59l2j0i22i30l6.4545j0j7&sourceid=chrome&ie=UTF-8" target="_blank"><mat-icon color="black">import_contacts</mat-icon></a>
    </span></div>




    <!--<div>
      <a mat-button routerLink="filtrar">
        <mat-icon style="display: right">search</mat-icon> Procurar..
      </a>
    </div> -->

    </mat-toolbar>
