
<h4> <b> António Fernandes Lopes Unipessoal LDA localiza-se em: </b></h4>

<ul class="contactos">
  <li class="facebook">
  <a href="https://tr-tr.facebook.com/lopes.lopes.794?comment_id=Y29tbWVudDoxODUwMjk4NzE4NDcxMjg3XzE4NTAzMDY1OTE4MDM4MzM%3D" target="_blank"><mat-icon color="primary">facebook</mat-icon></a>
  </li>
  <li>
  <a href="https://www.google.com/search?q=antonio+fernandes+lopes&oq=antonio+fernandes+lopes&aqs=chrome..69i57j69i59l2j0i22i30l6.4545j0j7&sourceid=chrome&ie=UTF-8" target="_blank"><mat-icon color="primary">phone</mat-icon></a>
  </li>
  <li>
  <a href="https://tr-tr.facebook.com/lopes.lopes.794?comment_id=Y29tbWVudDoxODUwMjk4NzE4NDcxMjg3XzE4NTAzMDY1OTE4MDM4MzM%3D" target="_blank"><mat-icon color="primary">mail</mat-icon></a>
  </li>
</ul>




<!-- Leaflet javascript extension para mapas ngx-leaflet-->
<div class="mapa" leaflet [leafletOptions]="options"
(leafletClick)="handleMapClick($event)"
[leafletLayers]="layers"></div>
<!-- https://asymmetrik.com/ngx-leaflet-tutorial-angular-cli/ -->

<!-- FALTA SO POR O MARKER NA MORADA E MARGEM DIREITA -->
